.smx-488{
width: 450px;}
#smy-1{top: 210px;left: 1114px;}
#smy-2{top: 275px;left: 1155px;}
#smy-4{top: 472px;left: 1270px;}
.button.big{
	width: 90px;
	text-align: left;
	padding-left: 30px;}
.button.small{
	width: 60px;}
#s-info p{
	height: 48px;}
#e-content p{
	height: 80px;}
#ar-3 {
	top: 338px;
	left: 878px;}
#ar-6 {
	top: 485px;
	left: 990px;}
#ar-10 {
	top: 430px;
	left: 224px;}
#smy-7 {
	top: 245px;
	left: 965px;}